@import '../../common/styles/mixins';

.container {
  height: 60vh;
  @include flex(center, center, column);
  text-align: center;

  .subtitle {
    margin-bottom: 35px;

    .emoji {
      margin-left: 10px;
      font-size: 26px;
    }
  }
}
