.wrapper {
  display: flex;
  justify-content: center;

  .container {
    position: absolute;
    top: 140px;

    .card {
      margin-bottom: 35px;
    }

    .cardContent {
      padding: 35px 75px 50px;
      @media screen and (max-width: 910px) {
        padding: 16px 16px 24px;
      }

      .title {
        text-align: center;
      }

      .description {
        margin-top: 50px;
      }
    }
  }
}
