@mixin flex($justifyContent, $alignItems, $direction, $wrap: nowrap) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
