@import '../../common/styles/mixins';

.link {
  text-decoration: none;
  @include flex(flex-start, center, row);
  font-weight: 700;
  color: #363636;
  width: fit-content;

  .arrowBack {
    font-size: 18px;
    margin-right: 6px;
  }

  .arrowForward {
    font-size: 18px;
    margin-left: 6px;
  }
}
