@import '../../common/styles/mixins';

.card {
  max-width: 360px;

  .cardContent {
    padding: 25px;

    .dateBlock {
      color: #868686;
      @include flex(flex-start, flex-start, row);
      margin-bottom: 25px;

      .calendar {
        font-size: 18px;
        margin-right: 8px;
      }
    }

    .description {
      margin: 20px 0;
    }
  }
}
